// GENERAL

body {
	font-size: 1em;
	//line-height: 1.5625em;
	font-family: $body-font;
	color: $dark;
	background: $light;
	//font-feature-settings: liga;
}

hr {
	margin: 1.5rem auto;
	padding: 0;
	border: 0;
	border-top: 4px solid $purple;
	width: 60px;
}

*::selection {
	color: #fff;
	background-color: $purple;
}

// TYPOGRAPHY

body, button, input, select, textarea {
  font-family: $body-font;
  font-size: 18px;
  color: $dark;
}

a {
  &, &:link, &:visited {
    color: $dark;
    text-decoration: none;
    transition: all .15s ease;
  }
  &:hover, &:focus, &:active {
    color: $dark;
  }
}

.entry-content a {
  &, &:link, &:visited {
    border-bottom: 2px solid $teal;
  }
	&:hover, &:focus, &:active {
    border-bottom: 0;
		transition: all .15s ease;
  }
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.2em; }


h1, .h1, h1 a {
  line-height: 1.3;
  color: $purple;
}

h2, .h2, h2 a {
  line-height: 1.3;
  color: $purple-dark;
}

h3, .h3, h3 a {
  line-height: 1.3;
  color: $purple-dark;
  font-family: 'Permanent Marker', sans-serif;
  letter-spacing: 1px;
}

h4, .h4, h4 a {
  line-height: 1.3;
}

h5, .h5, h5 a {
  font-weight:bold;
  line-height: 1.3;
}

h6, .h6, h6 a {
  line-height: 1.3;
}

.cursive {
  font-family: $cursive;
  letter-spacing: 1px;
}

.site {
	overflow: hidden;
	position: relative;
}

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav__item {
	display: inline-block;
}

.nav__link {
	display: block;
}

.entry-title {color: $purple;}

// BUTTONS

.button,button,input[type=button],input[type=reset],input[type=submit] {
	position: relative;
	display: inline-block;
	padding: .4375rem 5rem;
	border: 1px solid $teal;
	font-size: 1em;
	line-height: 1.5625em;
	text-align: center;
	color: $light;
	font-family: $body-font;
	//font-weight: 700;
	text-decoration: none;
	//text-transform: uppercase;
	background-color: $teal;
	border-radius: 0;
	border-color: transparent;
	cursor: pointer;
	transition: all .1s ease;
}

.button:active,.button:focus,.button:hover,button:active,button:focus,button:hover,input[type=button]:active,input[type=button]:focus,input[type=button]:hover,input[type=reset]:active,input[type=reset]:focus,input[type=reset]:hover,input[type=submit]:active,input[type=submit]:focus,input[type=submit]:hover {
	color: $light;
	background-color: $teal-light;
	text-decoration: none;
}

@media (min-width:48em) {
	.button,button,input[type=button],input[type=reset],input[type=submit] {
		font-size: 1em;
		line-height: 1.5625em;
	}
}

.button.button--primary,button.button--primary,input[type=button].button--primary,input[type=reset].button--primary,input[type=submit].button--primary {
	color: $light;
	background-color: $teal;
}

.button.button--primary:active,.button.button--primary:focus,.button.button--primary:hover,button.button--primary:active,button.button--primary:focus,button.button--primary:hover,input[type=button].button--primary:active,input[type=button].button--primary:focus,input[type=button].button--primary:hover,input[type=reset].button--primary:active,input[type=reset].button--primary:focus,input[type=reset].button--primary:hover,input[type=submit].button--primary:active,input[type=submit].button--primary:focus,input[type=submit].button--primary:hover {
	color: $light;
	background-color: $teal-light;
}

.button.button--secondary,button.button--secondary,input[type=button].button--secondary,input[type=reset].button--secondary,input[type=submit].button--secondary {
	color: $purple;
	background-color: $light;
	border: 2px solid $purple;
}

.button.button--secondary:active,.button.button--secondary:focus,.button.button--secondary:hover,button.button--secondary:active,button.button--secondary:focus,button.button--secondary:hover,input[type=button].button--secondary:active,input[type=button].button--secondary:focus,input[type=button].button--secondary:hover,input[type=reset].button--secondary:active,input[type=reset].button--secondary:focus,input[type=reset].button--secondary:hover,input[type=submit].button--secondary:active,input[type=submit].button--secondary:focus,input[type=submit].button--secondary:hover {
	color: $purple-light;
	background-color: $light;
	border-color: $purple-light;
}

.button.button--invert,button.button--invert,input[type=button].button--invert,input[type=reset].button--invert,input[type=submit].button--invert {
	color: rgba(0,0,0,.75);
	background-color: #fff;
}

.button.button--invert:active,.button.button--invert:focus,.button.button--invert:hover,button.button--invert:active,button.button--invert:focus,button.button--invert:hover,input[type=button].button--invert:active,input[type=button].button--invert:focus,input[type=button].button--invert:hover,input[type=reset].button--invert:active,input[type=reset].button--invert:focus,input[type=reset].button--invert:hover,input[type=submit].button--invert:active,input[type=submit].button--invert:focus,input[type=submit].button--invert:hover {
	color: #000;
	background-color: #e6e6e6;
}

.button.button--inactive,.button.button--inactive:active,.button.button--inactive:focus,.button.button--inactive:hover,button.button--inactive,button.button--inactive:active,button.button--inactive:focus,button.button--inactive:hover,input[type=button].button--inactive,input[type=button].button--inactive:active,input[type=button].button--inactive:focus,input[type=button].button--inactive:hover,input[type=reset].button--inactive,input[type=reset].button--inactive:active,input[type=reset].button--inactive:focus,input[type=reset].button--inactive:hover,input[type=submit].button--inactive,input[type=submit].button--inactive:active,input[type=submit].button--inactive:focus,input[type=submit].button--inactive:hover {
	color: rgba(0,0,0,.3);
	background-color: #eee;
}
