/*
* BOX MODEL CLASSES
*/

$units: "0" 0, "1" 1em, "2" 2em, "3" 3em, "4" 4em, "5" 5em, "half" 0.5em;

@each $unit in $units {
  $label: nth($unit, 1);
  $value: nth($unit, 2);

  .padding-#{$label} {
    padding: $value;
  }
  .padding-top-#{$label} {
    padding-top: $value;
  }
  .padding-bottom-#{$label} {
    padding-bottom: $value;
  }
  .padding-left-#{$label} {
    padding-left: $value;
  }
  .padding-right-#{$label} {
    padding-right: $value;
  }

  .margin-#{$label} {
    margin: $value;
  }
  .margin-left-#{$label} {
    margin-left: $value;
  }
  .margin-top-#{$label} {
    margin-top: $value;
  }
  .margin-bottom-#{$label} {
    margin-bottom: $value;
  }
  .margin-right-#{$label} {
    margin-right: $value;
  }
}
