// COLORS

$light: #EDEDEA;
$dark: #2D2D2D;
$navy: #073449;
$teal: #007B84;
$purple: #832d82;

$teal-light: #179BA6;
$purple-light: lighten($purple, 10%);
$purple-dark: darken($purple, 30%);

// TYPOGRAPHY

$body-font: 'Open Sans', sans-serif;
$cursive: 'Permanent Marker', cursive;
