// COLORS

$light: #EDEDEA;
$dark: #2D2D2D;
$navy: #073449;
$teal: #007B84;
$purple: #AF3AAD;


// TYPOGRAPHY

@import url('https://fonts.googleapis.com/css?family=Damion|Open+Sans');
$body-font: 'Open Sans', sans-serif;
$cursive: 'Damion', cursive;

h1, .h1, h1 a {
  font-size: 3em;
  text-transform: uppercase;
}

// SPACING


// BUTTONS
